.deck-container .slide .CodeMirror {
  background-color: #efefef;
  color: #333;
  font-family: "Menlo Regular", Consolas, monospace, sans-serif;
}
.deck-container .slide .deck-codemirror-result {
  background: #fff;
  color: #222;
}
.deck-container .slide .CodeMirror .button.compile {
  margin-right: 45px;
}

ul { list-style: none; }
ul.nice > li:before { content: "» "; }

