<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Javascript for Programmers</title>

    <meta name="description" content="Javascript for Programmers">
    <meta name="author" content="Ilia Mikhailov, Jonannes Edelstam">
    <meta name="viewport" content="width=1024, user-scalable=no">

    <!-- Core and extension CSS files -->
    <link rel="stylesheet" href="deck.js/core/deck.core.css">
    <link rel="stylesheet" href="deck.js/extensions/goto/deck.goto.css">
    <link rel="stylesheet" href="deck.js/extensions/menu/deck.menu.css">
    <link rel="stylesheet" href="deck.js/extensions/navigation/deck.navigation.css">
    <link rel="stylesheet" href="deck.js/extensions/status/deck.status.css">
    <link rel="stylesheet" href="deck.js/extensions/hash/deck.hash.css">

    <link rel="stylesheet" id="style-theme-link" href="deck.js/themes/style/neon.css">
    <link rel="stylesheet" id="transition-theme-link" href="deck.js/themes/transition/fade.css">

    <link rel="stylesheet" href="deck.js/extensions/codemirror/deck.codemirror.css">
    <link rel="stylesheet" href="deck.js/extensions/codemirror/themes/elegant.css">
    <link rel="stylesheet" href="deck.js/extensions/codemirror/themes/default.css">
    <link rel="stylesheet" href="deck.js/extensions/codemirror/themes/neat.css">

    <link rel="stylesheet" href="presentation.css">

    <script src="deck.js/modernizr.custom.js"></script>
</head>

<body class="deck-container">
<!-- TOC:
 _Intro
 _Javascript
 _Coffescript
 _Backbone.js
 _spine.js
 _summary
-->

<!--
<section class="slide" id="">

</section>
-->

<!-- _intro ============================================== -->
<section class="slide" id="title-slide">
    <h1 class="center intro">javascript for programmers</h1>
    <h3 class="intro">ilia mikhailov and johannes edelstam</h3>
</section>

<section class="slide" id="agenda">
  <h2>agenda</h2>
  <div class="agenda">
      <div class="slide" id="js-sec">
        <h3>javascript</h3>
        <p>types, equality, scope, context, function, classes</p>
      </div>

      <div class="slide" id="coffee-sec">
        <h3>coffeescript</h3>
        <p>fill me in ...</p>
      </div>

      <div class="slide" id="backbone-sec">
        <h3>backbone.js</h3>
        <p>fill me in ..</p>
      </div>

      <div class="slide" id="spine-sec">
        <h3>spine.js - mvc without the v</h3>
        <p>what? why? how?</p>
      </div>
    </div>
</section>


<!-- _javascript  ============================================== -->

<section class="slide" id="javascript-heading">
  <h2>javascript</h2>
</section>

<section class="slide" id="bq-example">
  <h2>famous quotes</h2>
  <blockquote cite="http://example.org">
    <p>food is an important part of a balanced diet.</p>
    <p><cite>fran lebowitz</cite></p>
  </blockquote>
</section>

<section class="slide" id="brendan-pic">
    <h2>brendan eich - the father of javascript</h2>
    <img src="media/b_pirate.jpg" alt="" />
    </ol>
</section>
<!--
* dhtml -> ajax hype / web 2.0 craze
* community and ecosystem
-->

<section class="slide" id="wow">
<h1>"java/javascript"</h1>
</section>

<section class="slide center-content" id="journey">
  <h1 class="center">javascript - the journey</h1>
  <h2 class="center">my journey</h2>
</section>

<section class="slide center-content" id="js-fun">
  <h2>in the beginning ...</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/09/7e7741186661.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>.. a little later ...</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/05/omg_wtf.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>.. beyond all hope</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/05/extreme_face.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>.. but suddenly ..</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/09/9832_81be.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>omg!</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/10/omgooh1.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>mind. blown.</h2>
  <img class="w50" src="http://www.reactiongifs.com/wp-content/uploads/2011/09/mind_blown.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>today mostly</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/11/chappelle_dance.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>but with this face</h2>
  <img class="w50" src="http://www.reactiongifs.com/wp-content/uploads/2011/05/face.gif" alt="" />
</section>

<section class="slide center-content" id="">
  <h2>but sometimes still</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/11/loss_for_words.gif" alt="" />
</section>


<section class="slide center-content" id="js-fun">
  <h2>javascript is not hard!</h2>
  <img class="w60" src="http://www.reactiongifs.com/wp-content/uploads/2011/11/bill_murray.gif" alt="" />
  <h2>it's just a little ... misunderstood</h2>
</section>

<section class="slide" id="js-desc">
<h2>javascript - executive summary</h2>
* ecmascript (v5)
* dynamic
  * explain
  * tiny core, small
  * everything is an object
</section>

<section class="slide" id="">
<h2>it all started with dhtml</h2>
  <textarea id="dhtml" name="code" class="code" mode="htmlmixed" theme="elegant" style="display: none;">
<html>
  <body>
    <!-- remember this? -->
    <h1 onmouseover="style.color='red'" onmouseout="style.color='black'">
      mouseover me! please!
    </h1>
  </body>
</html>
  </textarea>
</section>
<section class="slide" id="">
<h2>core types</h2>
<ul class="nice bigger float-left">
  <li>number</li>
  <li>string</li>
  <li>boolean</li>
  <li>null</li>
  <li>undefined</li>
</ul>
<ul class="nice bigger float-left">
  <li>object (dictionary)
  <ul>
    <li>array</li>
    <li>date</li>
    <li>function</li>
    <li>regexp</li>
  </ul>
  </li>
</ul>
</section>

<section class="slide" id="">
<h2>lets talk about numbers</h2>
<textarea id="numbers_explained" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
// only single number type
// 64-bit floating point internally
// all you need to know that a number is a number

var one = 1;
var two = 2;
var onefloat = 1.0;
var negative = -10;

// demo. calling .tostring() is needed due console limitation

console.log((one === onefloat).tostring());

// you can also do this, but please avoid

var ten = new number("10");
console.log(ten);
</textarea>
</section>

<section class="slide" id="">
<h2>numbers - tips'n'tricks</h2>
<textarea id="numbers_more" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
// parsing a string into number

var i = parseint("450.99", 10); // base 10
var f = parsefloat("123.78");

console.log("i is " + i);
console.log("f is " + f);

// parsing error returns nan (not a number)

var pass = parseint("50 usd", 10);
var fail = parseint("$ 50", 10);

console.log(pass);
console.log(fail);

// number overflow returns infinity
// numbers have a few methods. they are objects.
// for all your other math needs there is math object
</textarea>
</section>

<section class="slide" id="">
<h2>booleans</h2>
<p>true and false. that's all you need to know for now.</p>
</section>

<section class="slide" id="">
<h2>lets talk about strings</h2>
<textarea id="strings" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
// Meh ...

var hipster = "I'm hip, yo! My blog domain name ends with .io";

// Preferred when doing DOM stuff?

var div = '<div id="ilia" class="hip"><span class="awesome">Me</span></div>';

var combine = "I " + "LOVE " + " Java/Javascript";

var uncool = new String("Don't do this. Please.");

// Strings have many methods and one property?

var howLong = "javascript".length;
"hipster".replace("ster", "pie");
</textarea>
</section>

<section class="slide" id="">
<h2>null + undefined vs. null vs. undefined</h2>
<p>
  From StackOverflow: <br/><br />
  <em>null</em> is not an object, it is a primitive value. You cannot add properties to it.
  Sometimes people wrongly assume that it is an object, because typeof null
  returns "object". But that is actually a bug (that might even be fixed in
  ECMAScript 6).
  <p>
  <em>undefined</em>: used by JavaScript and means “no value”. Uninitialized variables,
  missing parameters and unknown variables have that value.
  </p>
<textarea id="nulls" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
var a; // undefined
typeof(a); // 'undefined'

var n = null;
typeof(n); // 'null'

// What is the output?

console.log((a == n).toString());
console.log((a === n).toString());

</textarea>
</section>

<section class="slide" id="">
<h2>Equality</h2>
<h3>Falsy</h3>
false, zero, empty string ,NaN, null, undefined
<p></p>
<h3>Truthy</h3>
<p>
true and everything else
</p>
<p>
<textarea id="eqality" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
var a;
function display(val) {
  console.log(new Boolean(val).toString());
}

display(null);
display(a);
display(NaN);
display("");
display(0);
display(-1);
display([]); // Array literal

var e = 1 ==  "1"; // Equality
var f = 1 === "1"; // Identity (value and type)

var g = 1 !=  "1";
var h = 1 !== "1";

// Quiz
display(null == false);
display(null === false);

</textarea>
</section>

<section class="slide" id="">
<h2>typeof and instanceof</h2>
<h3>Pass</h3>
</section>

<section class="slide" id="">
<h2>Control statements and friends</h2>
<h3>The usual suspects</h3>
<p>if, else, for, for .. in, while, switch, do .. while, break, continue</p>
<textarea id="controls" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
// Circuit operators

var a;
var b = a || "foo";
console.log(b);

function setCoolnessFactor(user) {
  if (user && user.factor) obj.factor = "High";
}

var obj = {user: "ilia", password: "drowssap"}; // Object literal

setCoolnessFactor(obj);
</textarea>

</section>

<section class="slide" id="">
<h2>Lets talk about arrays</h2>
<textarea id="arrays" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
// Bad

var arr = new Array();
arr[0] = 1;
arr[1] = true;

// Question?
// What is new Array(10) and new Array(1, 2, 3)

// Good - Array literals
var arr = [1, true];

// Arrays have many useful methods. Go and expore them!

var fruits = ["mango", "watermelon"];
fruits.push("banana", "apple", "peach");
console.log(fruits);
</textarea>
</section>

<section class="slide" id="">
<h2>Lets talk about dates</h2>
<h3>No! Boring. Buggy. Strange. Let's skip.</h3>
</section>

<section class="slide" id="">
<h2>Let's talk about regular expressions</h2>
<h3>Fun facts</h3>
<p>Many of the JavaScript's features were borrowed from other languages. The
syntax came from Java, functions came from Scheme, and prototypal inheritance
came from Self. JavaScript's Regular Expression feature was borrowed from
Perl.
</p>
<textarea id="arrays" name="code" class="code" mode="javascript" theme="elegant" runnable="true" style="display: none;">
// Bad
var re = new RegExp("^\d*$", 'g'); // 'g' is for global

// Good
var re = /^\d*$/g;

// Methods that work with regex are:
//  regexp.exec, regex.test, string.match,
//  string.replace, string.search, string.split

// Prefer these over string operations because regex ops are faster
</textarea>

</section>

<section class="slide" id="">
<h2>Object</h2>
* new Object vs literal
* Parens are optional
* Looping thru properties (hasOwnProperty)
</section>

<section class="slide" id="">
<h2>Functions</h2>
* First class
* Borat pic
</section>

<section class="slide" id="">
<h2>Scope</h2>
</section>

<section class="slide" id="">
<h2>Function arguments</h2>
</section>

<section class="slide" id="">
<h2>Call and apply</h2>
</section>

<section class="slide" id="">
<h2>Clojures</h2>
</section>

<section class="slide" id="">
<h2>Self-executing functions</h2>
</section>

<section class="slide" id="">
<h2>Functions as arguments</h2>
</section>

<section class="slide" id="">
<h2>Module pattern</h2>
</section>

<section class="slide" id="">
<h2>Code style</h2>
* Semicolons
* Curly braces
</section>

<section class="slide" id="">
<h2>Constructor functions</h2>
</section>

<section class="slide" id="">
<h2>Prototype</h2>
</section>

<section class="slide" id="">
<h2>Class emulation</h2>
Many approaches, choose one
</section>

<section class="slide" id="">
<h2>Prototypal Inheritance</h2>
</section>

<section class="slide" id="">
<h2>Includes</h2>
</section>

<section class="slide" id="">
<h2>Extends</h2>
</section>

<section class="slide" id="javascript-example">
  <h2>Runnable JS</h2>
  <textarea id="code4" name="code" class="code" mode="javascript" theme="elegant" style="display: none;" runnable="true" globals="$">
// output my log
var o = {a: "a", b: "b"};
console.log(o.a);
  </textarea>
</section>

<!-- _Coffeescript ============================================ -->

<section class="slide" id="javascript-wow-example-1">
  <br/>  <br/>

  <textarea id="code4" name="code" class="code" mode="javascript" theme="elegant" style="display: none;" runnable="true" globals="$">
￼    2 == "2" // true
    2 === "2" // false
  </textarea>
</section>

<section class="slide" id="javascript-wow-example-2">
  <br/>  <br/>

  <textarea id="code4" name="code" class="code" mode="javascript" theme="elegant" style="display: none;" runnable="true" globals="$">
function times_five(n){
  five = 5;
  return five * n;
};
times_five(5); // 25
five; // 5
  </textarea>
</section>

<section class="slide" id="javascript-wow-example-3">
  <br/>  <br/>

  <textarea id="code4" name="code" class="code" mode="javascript"  theme="elegant" style="display: none;" runnable="true" globals="$">
abc(); //works
function abc(){
}
abc(); //works

xyz(); //undefined!  
xyz = function(){    
}  
xyz(); //works 
   </textarea>
</section>

<section class="slide" id="javascript-wow-example-4">
  <br/>  <br/>

  <textarea id="code4" name="code" class="code" mode="javascript"  theme="elegant" style="display: none;" runnable="true" globals="$">
function abc() { 
  xyz = function(){ 
  } 
}

console.log(typeof xyz);
   </textarea>
</section>

<section class="slide" id="javascript-wow-example-5">
  <br/>  <br/>

  <textarea id="code4" name="code" class="code" mode="javascript"  theme="elegant" style="display: none;" runnable="true" globals="$">
xyz = function abc() {

}

console.log(typeof abc);
  </textarea>
</section>

<section class="slide" id="javascript-wow-example-5">
<h2>The right way...</h2>
    <textarea id="code4" name="code" class="code" mode="javascript"  theme="elegant" style="display: none;" runnable="true" globals="$">
var abc = function(){  
  xyz(); //undefined!  

  var xyz = function() { 
    xyz(); //works 
  }
      
  xyz(); //works 
}  

xyz() //undefined!
  </textarea>
</section>



<section class="slide" id="coffee-example-1">
  <h2>Hello Coffeescript!</h2>
  <!-- Visa:
      sum = ->
      sum = (a, b) ->
      sum = (a, b) -> a + b
  -->

  <textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
->
  </textarea>
</section>

<section class="slide" id="coffee-example-2">
<br/><br/>
  <textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
fill = (container, liquid = "coffee") ->
  "Filling the #{container} with #{liquid}..."
  </textarea>
</section>

<section class="slide" id="coffee-example-3">
<br/><br/>
  <textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
colors =
  red: 0xF00
  blue: 0x00F
  </textarea>
</section>

<section class="slide" id="coffee-example-4">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
class Monkey
  constructor: (name) ->
    @name = name
  </textarea>
</section>

<section class="slide" id="coffee-example-5">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
theBait   = 1000
theSwitch = 0

[theBait, theSwitch] = [theSwitch, theBait]
</textarea>
</section>

<section class="slide" id="coffee-example-6">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
tag = "[impossible]"

[open, contents..., close] = tag.split("")
</textarea>
</section>

<section class="slide" id="coffee-example-7">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
cholesterol = 127

healthy = 200 > cholesterol > 60
</textarea>
</section>

<section class="slide" id="coffee-example-8">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="true">
list = [1, 2, 3, 4, 5]

cubes = (math.cube num for num in list)
</textarea>
</section>

<section class="slide" id="backbone">
    <img src="media/backbone.png" style="margin-top: 30%;" alt="" />
</section>

<section class="slide" id="jagskabara-1">
<h1>Jag ska bara...</h1>
</section>

<section class="slide" id="jagskabara-2">
    <h1>Jag ska bara...</h1>
    <img src="media/jagskabara2.png" style="position: absolute; left: 70%; top: 20%;" alt="" />
</section>

<section class="slide" id="jagskabara-3">
    <h1>Jag ska bara...</h1>
    <img src="media/jagskabara1.png" style="position: absolute; left: 10%; top: 10%;" alt="" />
    <img src="media/jagskabara2.png" style="position: absolute; left: 70%; top: 20%;" alt="" />
</section>

<section class="slide" id="jagskabara-4">
    <h1>Jag ska bara...</h1>
    <img src="media/jagskabara1.png" style="position: absolute; left: 10%; top: 10%;" alt="" />
    <img src="media/jagskabara2.png" style="position: absolute; left: 70%; top: 20%;" alt="" />
    <img src="media/jagskabara3.png" style="position: absolute; left: 30%; top: 50%;" alt="" />
</section>

<section class="slide" id="backbone-mvc-1">
  <h1>MVC</h1>
</section>

<section class="slide" id="backbone-mvc-2">
  <h1>MVC</h1>
  <h3 style="position: absolute; left: 25%; top: 30%;">Backbone.Model</h3>
  <h3 style="position: absolute; left: 16%; top: 36%;">Backbone.Collection</h3>
  <h3 style="position: absolute; left: 67%; top: 46%;">Backbone.Router</h3>
  <h3 style="position: absolute; left: 43%; top: 66%;">Backbone.View</h3>
</section>


<section class="slide" id="backbone-example-1">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="false">
Book = Backbone.Model.extend
  initialize: ->

new Book title: "Processen", author: "Franz Kafka", year: 1906;
</textarea>
</section>

<section class="slide" id="backbone-example-2">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="false">
Library = Backbone.Collection.extend
  model: Book
  url: '/books'
  comparator: (book)->
    book.get 'year'

Library.fetch()

//or

new Library [
  {title: "Max badar"}
]
</textarea>
</section>

<section class="slide" id="backbone-example-3">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="false">
Workspace = Backbone.Router.extend
  routes:
    "help":                 "help"    # #help
    "search/:query":        "search"  # #search/kiwis
    "search/:query/p:page": "search"  # #search/kiwis/p7

  help: ->
    #...

  search: (query, page) ->
    #...
</textarea>
</section>


<section class="slide" id="backbone-example-10">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="false">
ItemView = Backbone.View.extend
  tagName:  "li"
  template: _("#<%= no %> <%= name %>").template()

  render: ->
    content = @template({no: 1, name: "yarr"})
    $(@el).html content
    this
</textarea>
</section>


<section class="slide" id="backbone-example-12">
<br/><br/>
<textarea id="code5" name="code" class="code" mode="coffeescript" theme="elegant" style="display: none;" runnable="false">
AlertView = Backbone.View.extend
  events: "click .button": "showAlert"

  showAlert: -> alert "hello"
</textarea>
</section>






<!-- _Backbone.js ============================================== -->
<!-- _Spine.js    ============================================== -->
<!--


Latest project - JS + Coffee + Spine.js
Me + two co-workers
- Före
  Jag smög in i projektet http://www.reactiongifs.com/wp-content/gallery/dance-party/glowsticking.gif
  dum dummare  http://www.reactiongifs.com/wp-content/uploads/2011/09/illK6U.gif
  glasses - http://www.reactiongifs.com/wp-content/uploads/2011/05/bubbles2.gif

  Efter - the rock + mustacshe
  http://www.reactiongifs.com/wp-content/uploads/2011/05/dwayne-the-rock-johnson_likes_it.gif
  http://www.reactiongifs.com/wp-content/gallery/dance-party/lebowski_dance.gif
  http://www.reactiongifs.com/wp-content/gallery/yes/rahr_yes.gif

- Prata om Maccman (ung, skrev en bok medans han reste jorden runt, fick nyss
  jobb på Twitter)
- Spine.mobile.js
- MVC without the V
- Helper and not a jQuery replacement
- jQuery is the glue
- Many plugins
- Lightweight, simple
- Written in Coffee
- JS compatible?
- Clientside templating choose one:
  - underscore
  - Jquery
  - mustasche.js
  - handlebars.js
  - ejs

Controllers
 elements
 events
 - Are the hart of the application

Models
  - Cool, but for SPAs or something
  - Classes and arrays are often enough

Cross controller communication
Spine.bind / Spine.trigger

-->
<!-- _Summary     ============================================== -->
<!--
  Book and website tips
  Console is your friend
- KISS principen (bild på Kiss)
  http://www.flickr.com/photos/aresauburnphotos/4123108117/
- Learn JS basics first before jumping head first into Coffee (fail pic)
- Try out spine or backbone
  Crawling baby pic?
- Stay disciplined
  Russian army pic
-Hard to write "correct" javascript. Takes a lot of effort and experience.
- Don't give up!
  Runner pic?

Tnx. Conan obrien applauds pic
-->
<section class="slide" id="credits">
  <ul class="nice">
    <li>Clown - http://www.flickr.com/photos/cogdog/6129164570/</li>
    <li>Coffee - http://www.flickr.com/photos/doug88888/3765136858/</li>
    <li>Pirate - http://www.flickr.com/photos/jsconf/4587502948/</li>
    <li>Centepede - http://www.flickr.com/photos/crydin/367572931/</li>
  </ul>
</section>

<p class="deck-status">
    <span class="deck-status-current"></span>
    /
    <span class="deck-status-total"></span>
</p>

<form action="." method="get" class="goto-form">
    <label for="goto-slide">Go to slide:</label>
    <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
    <datalist id="goto-datalist"></datalist>
    <input type="submit" value="Go">
</form>

<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

  <!-- Grab CDN jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
  <script>window.jQuery || document.write('<script src="../jquery-1.7.min.js"><\/script>')</script>

<!-- Deck Core and extensions -->
<script src="deck.js/core/deck.core.js"></script>
<script src="deck.js/extensions/hash/deck.hash.js"></script>
<script src="deck.js/extensions/menu/deck.menu.js"></script>
<script src="deck.js/extensions/goto/deck.goto.js"></script>
<script src="deck.js/extensions/status/deck.status.js"></script>

<script src="deck.js/extensions/codemirror/codemirror.js"></script>
<script src="deck.js/extensions/codemirror/mode/javascript/javascript.js"></script>
<script src="deck.js/extensions/codemirror/mode/coffeescript/coffeescript.js"></script>
<!-- required for html highlighting -->

<script src="deck.js/extensions/codemirror/mode/xml/xml.js"></script>
<script src="deck.js/extensions/codemirror/mode/css/css.js"></script>
<script src="deck.js/extensions/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script src="deck.js/extensions/codemirror/deck.codemirror.js"></script>

<script src="coffee-script.js"></script>
<script src="presentation.js"></script>

<!-- Specific to this page -->

</body>
</html>

